.homePage {
    position: relative;
    top: 10vh;
    background-color: #dbf2f9;
    height: 90vh;
    width: 100%;
  }
  
  .inputBox {
    display: flex;
    flex-direction: column;
    transform: translateY(50%);
    margin: auto;
    background-color: #fff;
    width: 650px;
    height: 200px;
    padding: 30px 25px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .inputElement {
    width: 550px;
    height: 40px;
    border-radius: 40px;
    padding-left: 20px;
    outline: none;
    border: 1px solid grey;
    font-size: 20px;
    margin: 30px auto;
  }
  
  .inputElement:focus {
    border: 1px solid #9932cc;
  }
  
  .btnElement {
    width: 150px;
    height: 40px;
    border: none;
    background-color: #2f74c0;
    color: #eee;
    font-size: 20px;
    border-radius: 40px;
    margin: auto;
    margin-top: 25px;
  }
  
  .btnElement:hover {
    background-color: #388ae2;
  }
  
  @media only screen and (max-width: 768px) {
  
    .inputBox {
      width: 450px;
      height: 150px;
      padding: 20px 25px;
    }
  
    .inputElement {
      width: 400px;
      height: 30px;
      border-radius: 30px;
      padding-left: 15px;
      font-size: 16px;
      margin: 20px auto;
    }
  
    .btnElement {
      width: 120px;
      height: 30px;
      font-size: 16px;
      border-radius: 30px;
      margin-top: 20px;
    }
  }
  
  @media only screen and (max-width: 576px) {

    .inputBox {
      width: 380px;
      height: 150px;
      padding: 10px 15px;
    }
  
    .inputElement {
      width: 330px;
      height: 30px;
      border-radius: 30px;
      padding-left: 15px;
      font-size: 16px;
      margin: 20px auto;
    }
  
    .btnElement {
      width: 120px;
      height: 30px;
      font-size: 16px;
      border-radius: 30px;
      margin-top: 20px;
    }
  }
  
  @media only screen and (max-width: 420px) {
    .inputBox {
      width: 280px;
      height: 125px;
      padding: 10px 15px;
    }
  
    .inputElement {
      width: 250px;
      height: 25px;
      border-radius: 25px;
      padding-left: 15px;
      font-size: 16px;
      margin: 20px auto;
    }
  
    .btnElement {
      width: 100px;
      height: 25px;
      font-size: 14px;
      border-radius: 25px;
      margin-top: 15px;
    }
  }